{% extends 'base.html.twig' %}

{% block title %}WebIT CRM CRM{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('crm') }}
{% endblock %}

{% block body %}
    {# {% if is_granted('ROLE_SUPER_ADMIN') %}
        <dev class="container">
            <div class="row">
                <div class="col-md-12 text-end">
                    <a href="{{ path('app_settings') }}" class="btn btn-primary">Settings</a>
                </div>
            </div>
        </dev>
    {% endif %} #}
    {# React #}
    <div id="root"></div>

    {# {% if app.environment == 'dev' %}
    <div>TEST TEST</div>
    {% endif %} #}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('crm') }}
{% endblock %}
