{% extends 'base.html.twig' %}

{% block title %}Редактировать сотрудника{% endblock %}

{% block body %}
    <h1>Редактирование сотрудника</h1>

    {{ form_start(form) }}
        {{ form_row(form.job_title) }}
        {{ form_row(form.user_id) }}
        <button type="submit" class="btn btn-primary mt-3">Сохранить</button>
    {{ form_end(form) }}
{% endblock %}
